<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Template</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <footer th:fragment="footer">
            <div>
                <br/>
                <a th:href="@{/students(lang=es)}">ES</a> |
                <a th:href="@{/students(lang=en)}">EN</a> |
                <span> Suna Industries </span>
            </div>
        </footer>

    </body>
</html>
