<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>

<body>
<div th:if="${student != null}">
    <form th:action="@{/students/save}" method="post" th:object="${student}">

        <input type="hidden" name="studentId" th:field="*{studentId}">

        <label for="firstName" >First Name</label>
        <input type="text" name="firstName" th:field="*{firstName}"/>

        <label for="lastName" >Last Name</label>
        <input type="text" name="lastName" th:field="*{lastName}"/>
        
        <label for="email" >Email</label>
        <input type="text" name="email" th:field="*{email}"/>
        
        <input type="submit" name="Save" value="Save">
    </form>
</div>
<div th:if="${student == null}">
    Student not found
</div>
</body>

</html>